body{
    font-family: sans-serif;
}
.header{
    background-color: #455a64;
    color: #fff;
    height: 64px;
    padding: 16px;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }